<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='bootstrap.css')}}" rel="stylesheet"> 
    <title>Форма ввода</title>
</head>
<body >

<header>
    <div class="container text-bg-dark p-3">
        <div class="row  text-bg-dark p-3">
            <div class="col12  text-bg-dark p-3">
                
                <h1 class="text-center text-red">Форма ввода Имени и почты пользователя</h1>
                  
            </div>
        </div>
    </div>
</header>
{% block content %}


{% endblock %}
<footer id="footer">
      <hr>
        <p>Магазин OZONTik создан с целью обучения.</p>
        <p>Все права защищены &copy;</p>
</footer>

</body>
</html>