<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>
        {% block title %}
            OZONTik
        {% endblock %}
    </title>
    <h1>OZONTik магазин для тебя</h1>

</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <li class="nav-item"><a href="/main/"
            class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="/cloth/"
            class="nav-link">Одежда</a></li>
            <li class="nav-item"><a href="/shoes/"
            class="nav-link">Обувь</a></li>
            <li class="nav-item"><a href="/jacket/"
            class="nav-link">Куртка</a></li>
        </ul>
    </div>
    {% block content %}
    <h2>Одежда, которая делает тебя особенным</h2>
    <div>
            <img src="photo/Cloth.jpg" alt="Главная" width="500">
    </div>
    {% endblock %}
        
</body>
<footer>
        <hr>
        <p>Магазин OZONTik создан с целью обучения.</p>
        <p>Все права защищены &copy;</p>
</footer>
</html>