<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Куртки</title>

</head>
<body>
    {% extends 'basic_index.html' %}
    {% block title %}
    {{ super() }} - {{ title }}
    {% endblock %}
    {% block content %}
    <h1>Куртки для тебя</h1>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <img src="photo/j1.png" alt="Куртка" width="500">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p> Dicta id officia quibusdam vel voluptates. Ad
            adipisci aliquid animi architecto commodi deleniti dolor
            doloremque facilis fugiat hic illo nam odit officia placeat
            provident quam quisquam quo reiciendis repudiandae sint suscipit
            unde, velit voluptatem! </p>
        </div>
        {% endblock %}
    </div>
</body>
</html>